 h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-image: url("http://wallpaperscraft.ru/image/brend_adidas_krasnyy_belyy_sport_8580_2560x1600.jpg");
 background-repeat: no-repeat;
}

